<div class="about" id="about">
    <h2 class="header">About Us</h2>
    <div class="container col-11">
        <div class="row gy-3 d-flex justify-content-center">
            <div class="card shadow-5">
                <div class="row">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Who are we</h5>
                            <p class="card-text">
                                We are a student-run organization that aims to serve the general Co-op Community at Sauder.
                            </p>
                        </div>
                    </div>
                    <div class="col-4 my-auto mx-auto">
                        <img src="assets/img/svg/placeholder.svg">
                    </div>
                </div>
            </div>

            <div class="card shadow-5">
                <div class="row">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Our mission</h5>
                            <p class="card-text">
                                Facilitate the building of networks between Co-op students across specializations and experiences.
                            </p>
                        </div>
                    </div>
                    <div class="col-4 my-auto mx-auto">
                        <img src="assets/img/svg/placeholder.svg">
                    </div>
                </div>
            </div>

            <div class="card shadow-5">
                <div class="row">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">What we do</h5>
                            <p class="card-text">
                                We offer various events and initiatives targeted to our Co-op student community.
                            </p>
                        </div>
                    </div>
                    <div class="col-4 my-auto mx-auto">
                        <img src="assets/img/svg/placeholder.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>