<div id="events" class="event">
    <div class="mb-5">

        <h2 class="header pb-3 pt-5 bg-secondary text-light mb-0">Events</h2>
        <!-- Tabs navs -->
        <div class="">
            <ul class="nav nav-tabs nav-fill w-100" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="tab" href="#ex3-tabs-1" role="tab"
                        aria-controls="ex3-tabs-1" aria-selected="true">Upcoming Events</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="tab" href="#ex3-tabs-2" role="tab"
                        aria-controls="ex3-tabs-2" aria-selected="false">Past Events</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content container" id="ex2-content">
                <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">

                    {% assign sorted = site.events | reverse %}
                    {% for event in sorted %}
                        {% if event.event-status != "Over" %}
                            <div class="my-5 d-flex flex-wrap">
                                <img src='{{ event.image }}'
                                    class="col-md-4 p-3 img-fluid border-0 align-self-center load-hidden events" alt="...">
                                <div class="col-md-8 py-3 load-hidden events">
                                    <h2>{{ event.title }}</h2>
                                    <h6>{{ event.event-date }}</h6>
                                    <p class="badge bg-success">Registration: {{ event.event-status }}</p>
                                    <p>
                                        {{ event.excerpt }}
                                    </p>
                                    <a href="{{ event.url }}" class="mx-auto btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                    {% assign sorted = site.events | reverse %}
                    {% for event in sorted %}
                    {% if event.event-status == "Over" %}
                    <div class="my-5 d-flex flex-wrap">
                        <img src='{{ event.image }}'
                            class="col-md-4 p-3 img-fluid border-0 align-self-center load-hidden events" alt="...">
                        <div class="col-md-8 py-3 load-hidden events">
                            <h2>{{ event.title }}</h2>
                            <h6>{{ event.event-date }}</h6>
                            <p class="badge bg-danger">Registration: {{ event.event-status }}</p>
                            <p>
                                {{ event.excerpt }}
                            </p>
                            <a href="{{ event.url }}" class="mx-auto btn btn-primary">Learn More</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
        

                </div>
            </div>
        </div>
    </div>
</div>