<p></p>
<footer class="bg-secondary text-center text-lg-start text-light">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <form action="">
        <!--Grid row-->
        <div class="column text-center">
          <!--Grid column-->
          <div class="col align-self-center">
            <p class="pt-10"><strong>Co-op Student Association of Sauder</strong></p>
          </div>  
          <!--Grid column-->             
          </div>


          
          <div class="d-flex justify-content-center h-110">
            <div class="d-flex justify-content-center flex-wrap mx-auto col-12">
                <div class="col-mid col-5">
                    <div class="row col-12 justify-content-sm-center">
                        <a class="link-icons" 
                            tabindex="0"
                            data-mdb-placement="bottom" 
                            role="button" title="Email"
                            data-mdb-toggle="popover"
                            data-mdb-trigger="focus"
                            data-mdb-content="cosasinitiatives@gmail.com">
                            <img class="" src="{{ site.baseurl }}/static_files/img/svg/gmail.svg">
                        </a>
                        <a class="link-icons" href="https://www.facebook.com/cosas.ubc/">
                            <img class="" src="{{ site.baseurl }}/static_files/img/svg/facebook.svg">
                        </a>
                        <a class="link-icons" href="https://www.instagram.com/cosas.sauder/" class="">
                            <img class="" src="{{ site.baseurl }}/static_files/img/svg/instagram-color.svg">
                        </a>
                        <p></p>
        
                    </div>
                </div>
            </div>
        </div>
       



          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright: Co-op Student Association of Sauder
    </div>
    <!-- Copyright -->
  </footer>