<div id="initiatives" class="initiatives container col-11">
    <div class="row">
        <h2 class="header">Initiatives</h2>
        <p>Initiatives are our large-scale projects that span across the entire year. We are always keen on adding new ones so definitely reach out if you are interested!</p>
    </div>
    <div class="row bg-light">
        <img src="assets/img/svg/intake.svg">
        <h3>Co-op Intake Support</h3>
        <button class="btn-dark">Learn More</button>
    </div>
    <div class="row">
        <img src="assets/img/svg/csmp.svg">
        <h3>Co-op Student Mentorship Program (CSMP)</h3>
        <button class="btn-dark">Learn More</button>
    </div>
</div>