<div class="d-flex align-items-center h-100">
    <div class="container col-10 my-auto justify-items-center">
        <p>Welcome to</p>
        <p class="title-main">COSAS Central</p>
        <p>Your one-stop location for all news and information for student-led Co-op engagements at UBC Sauder School of Business</p>

        <div class="row col-12">
            <a class="col-2" data-placement="bottom" role="button" data-toggle="popover" title="Email"
                data-content="cosas.sauder@gmail.com">
                <img class="" src="assets/img/svg/gmail.svg">
            </a>
            <a class="col-2" href="https://www.facebook.com/cosas.ubc/">
                <img class="" src="assets/img/svg/facebook.svg">
            </a>
            <a class="col-2" href="https://www.instagram.com/cosas.sauder/" class="">
                <img class="" src="assets/img/svg/instagram.svg">
            </a>

        </div>

        <img class="d-block img-fluid mx-auto" src="assets/img/svg/2021.svg">
    </div>
</div>