<div class="d-flex align-items-center h-100">
    <div class="d-flex flex-wrap container-fluid mx-auto col-10 justify-content-sm-start justify-content-md-center">
        <div class="col-8 col-md-5 my-auto">
            <p class="title-text">Welcome to</p>
            <p class="title-main">COSAS Central</p>
            <p class="title-text">Your one-stop location for all news and information for student-led Co-op engagements at UBC Sauder School of Business</p>

            <div class="row col-12">
                <a class="link-icons" data-placement="bottom" role="button" data-toggle="popover" title="Email"
                    data-content="cosas.sauder@gmail.com">
                    <img class="" src="assets/img/svg/gmail.svg">
                </a>
                <a class="link-icons" href="https://www.facebook.com/cosas.ubc/">
                    <img class="" src="assets/img/svg/facebook.svg">
                </a>
                <a class="link-icons" href="https://www.instagram.com/cosas.sauder/" class="">
                    <img class="" src="assets/img/svg/instagram.svg">
                </a>

            </div>
        </div>
        <img class="col-md-6 col-lg-4 img-fluid" src="assets/img/svg/2021.svg">
    </div>
</div>