<div id="Our Team" class="container">
    <div class="row">
        <h2 class="header">Our Team</h2>
    </div>

    <div class="row">
        {% for person in site.data.team.team %}

        <div class="col-md-3">
            <p></p>
            <div class="card p-1">
                <div class="card-horizontal row">
                    <!-- <div class="d-flex col-3 img-square-wrapper">
                        <img class="d-flex card-img-top img-fluid w-auto col-2" src="{{ site.baseurl }}/static_files/img/img/louie.jpg"/>
                    </div> -->
                    <div class="card-body col-6 my-auto">
                        <h5 class="card-title font-weight-bold">{{ person.name }}</h5>
                        <p class="card-text">{{ person.position }}</p>
                        <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                            data-mdb-target="#{{ person.id }}">
                            Learn more
                        </button>
                        <p></p>
                    </div>
                    <div class="d-flex col-4 h-75 img-square-wrapper my-auto">
                        <img class="d-flex card-img-top img-fluid w-auto col-2"
                            src="{{ site.baseurl }}/{{person.img}}" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="{{ person.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lerry Zhang</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: center;"><img class="d-flex w-50 img-responsive img-fluid mx-auto"
                            src="{{ site.baseurl }}/{{person.img}}"></div>
                    <div class="modal-body" style="text-align: left;">
                        <p>
                            <b>Name:</b>{{ person.name }}<br>
                            <b>Position:</b>{{ person.position }}<br>
                            <b>Year: {{ person.year }}</b><br>
                            <b>Specialization:</b> {{ person.specialization }}<br>
                            <b>Experience:</b> {{ person.experience }} <br> 
                            <b>About:</b> {{ person.content }}<br>
                            <hr> 
                            <b>Contact:</b> <a href="{{ person.linkedin }}">Come find me on LinkedIn!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    </dic>
</div>