<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">  
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static_files/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static_files/css/styles.css">
</head>
<body>
    {{ content }}

    <script src="{{ site.baseurl }}/static_files/scripts/mdb.min.js"></script>
    <script src="{{ site.baseurl }}/static_files/scripts/scripts.js"></script>
</body>
</html>